{% extends "base.html" %}
{% block content %}
    <section>
        <h1 class="title text-center">Welcome page</h1>
        <div class="card">
            <h2>Welcome TV show lovers!</h2>
            <p>This great site is happy to bring you your favourite TV show's <i>details</i>.</p>
            <p>Codecool is famous about its great community.
                One of the reasons for this is the time spent well together –
                such as watching TV shows! That's why there is a need
                for a great website where all Codecoolers can find their favorite series.</p>
            <p>Your job is to create such a site. The design has been already made
                by the marketing team, there is also a database that is ready
                (thanks to trakt.tv), you "only" have to connect the dots
                and present the data in a digestible way.</p>
            <p><a href="/shows/most-rated">View highest rated shows</a></p>
            <p><a href="/ratings">Ratings</a></p>
            <p><a href="/ordered-shows">Ordered shows</a></p>
            <p><a href="/actors">Actors</a></p>
            <p><a href="/birthday-actors">Birthday actors</a></p>
            <p><a href="/common-characters">Common characters</a></p>
            <p><a href="/design">Design template</a></p>
        </div>
        <div class="card">
            <ul>
                {% for show in shows %}
                    <li><a href="{{ '/tv-show/' + (show['id'] | string) }}">{{ show['title'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
